@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    color: #0f172a;
    /* slate-900 */
    background-color: #f8fafc;
    /* slate-50 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}